/* Fontes padrão do site, a saber: Playfair Display, Montserrat, Lora e Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Lora:ital,wght@0,400;0,500;1,400&family=Montserrat:wght@500;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

:root {
    /* Paleta de Cores Terrosa (Atemporal) */
    --color-primary-dark: #14213d; /*#5C3B2E;*/ /* Marrom Profundo para Títulos e elementos de destaque e ícones principais */
    --color-secondary: #4D4AE8;  /* #422b21;*/
    --color-accent-olive: #58504a;  /* #4C4A2A; */ /* Verde-oliva escuro (Sofisticado) para detalhes e ícones secundarios */
    --color-neutral-tan: #e9ecef; /* #C1B59F; */ /* Bege claro */
    --color-bg-warm: #F5FFFA; /*#E6E2DB;*/ /* Off-white para Fundo principal */
    --color-ui-charcoal: #303136; /* Grafite para textos e elementos de contraste */

    /* Definindo as Fontes nas variáveis de ambiente */
    --font-playfair: 'Playfair Display', serif; /* Fonte para títulos */
    --font-ui: 'Montserrat', sans-serif; /* Fonte para elementos de interface, sub-títulos e legendas */
    --font-body: 'Lora', serif; /* Fonte para o corpo do texto */
    --font-data: 'Inter', sans-serif; /* Fonte para dados e informações */

    /* 'Pesos' das fontes */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Escala de tamanhos baseada no Root (1 rem = 16px) */
    --fs-h1: 3rem; /* Tamanho para títulos principais (40px) */
    --fs-h2: 2rem; /* Tamanho para títulos secundários (32px) */
    --fs-h3: 1.5rem; /* Tamanho para títulos terciários (24px) */
    --fs-body: 1.125rem; /* Tamanho para o corpo do texto (18px) */
    --fs-small: 0.875rem; /* Tamanho para dados e informações (14px) */

    /* Espaçamento de linhas para maior conforto */
    --lh-body: 1.6; /* Espaçamento para o corpo do texto */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garantindo que o padding e border sejam incluídos no tamanho total dos elementos */
}

/*  ================================================================================================================
        Definindo as variáveis aplicáveis para todas as páginas do site, como cores, fontes, tamanhos e espaçamento.
    ================================================================================================================  */


/* Aplicando as Variáveis padrão no corpo da página */

body {
    background: radial-gradient(circle at top, #111827, #020617);
    color: #E5E7EB;
    font-family: 'Inter', sans-serif;
}




/*  ==============================================================================================================
            ======================================================================================
                Aqui serão estilizadas as variáveis específicas como Classes e IDs (por página).
            ======================================================================================
    ==============================================================================================================  */


/*  ==============================================
        Definições da Página Inicial (index.html)
    ============================================== */



    /* Classe LOGO (onde está escrito o nome ParaBook) */

.logo {
    margin: 2vh 2vw;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 70px;
    margin-right: -20px;
}

.para {
    background: linear-gradient(90deg, #E53935, #6A1B9A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.book {
    background: linear-gradient(90deg, #6a1b9b, #1E40FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*  =============================================
        Seção do NAV (NAVEGAÇÃO e suas Classes)
    =============================================  */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(2,6,23,0.7);
    backdrop-filter: blur(10px);
}


.menu{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}

.menu li a {
    color: #9CA3AF;
    text-decoration: none;
    transition: 0.3s;
}

.menu li a:hover {
    color: #E5E7EB;
}

.login-btn {
    background: #22C55E;
    color: #020617;
    border-radius: 45px;
    padding: 8px 18px;
    font-weight: bold;
    font-size: var(--fs-small);
    border: none;
    cursor: pointer;
}

.login-btn:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    background-color: #1d9f4c;
    color: white;
}
main hr {
    border: none;
    height: 1px;
    background: #1F2937;
    margin: 20px 0;
}



/*  =======================================
        Seção do BANNER
    =======================================  */

.banner{
    text-align: center;
    margin: 0vh 3vw;
}

/*  =======================================
        Seção de DESTAQUES e suas Classes
    =======================================  */

.destaques {
    text-align: center;
    margin: 3vh 3vw;
}

/* Container dos cards */
.cards-destaque{
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

/* Card individual */
.card-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-neutral-tan);
    width: 17vw;
    padding: 2vh 1vw;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    border: 1px solid var(--color-accent-olive);
    transition: transform .3s, box-shadow .3s;
    text-decoration: none;
}

/* Efeito ao passar o mouse */
.card-link:hover {
    transform: translateY(-1vh);
    box-shadow: 0px 6px 14px rgba(0,0,0,0.25);
}

.card-link i{
    font-size: var(--fs-h3);
    color: var(--color-accent-olive);
    margin-bottom: 1vh;
}

.card-link p{
    font-size: var(--fs-small);
    color: var(--color-ui-charcoal);
}

/*  =======================================================
        Seção de DÚVIDAS FREQUENTES (FAQ) e suas Classes
    =======================================================  */


.duvidas-frequentes{
    margin: 4vh 4vw;
}

.duvidas-frequentes h2{
    text-align: center;
}

.bloco-duvidas{
	position: relative;
	max-inline-size: 35rem;
	padding: 1rem;
	margin-block: 1rem 0;
	margin-inline: auto;
	background-image: linear-gradient(to bottom, var(--color-bg-warm) 0, var(--color-neutral-tan) 100%);
	border: 1px solid var(--color-accent-olive, 0.5);
	border-radius: 0.5rem;
}

.detalhe-duvidas{
	padding-inline: 2rem;
	position: relative;
	font-weight: 700;
	cursor: pointer;
}

.detalhe-duvidas::marker {
	content: '»';
	content: none;
}

.detalhe-duvidas::before {
	content: '»';
	position: absolute;
	inset-inline-start: 1rem;
	inset-block-start: -0.05rem;
	transition: rotate 0.2s;
}

.bloco-duvidas[open] .detalhe-duvidas::before {
    rotate: 90deg;
    inset-block-start: 0.1rem;
}

/*  =======================================================
            Seção do Footer 
    =======================================================  */

.footer {
    background: #020617;
    border-top: 1px solid #1F2937;
    padding: 40px 60px 20px 60px;
    color: #9CA3AF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-brand {
    position: relative;
    top: -12px;
    line-height: 2;
}

.footer h2, .footer {
    color: #E5E7EB;
    text-align: center;
}

.footer-links {
    margin-right: 30px;
}

.footer-links a {
    display: block;
    color: #9CA3AF;
    text-decoration: none;
    margin: 5px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #6366F1;
}

.footer-social .icons i {
    font-size: 1.4rem;
    margin: 12px 8px 5px 8px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-social h4 {
    position: relative;
    top: -10px;
}

.footer-social .icons i:hover {
    color: #6366F1;
}

.footer-bottom {
    text-align: center;
    letter-spacing: .1rem;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 0.9rem;
}

.footer-bottom-line {
    position: relative;
    top: -60px;
    height: 1px;
    background: #1F2937;
    border: none;
}


* {
box-sizing: border-box;
}

/* Centralizar o título */
.titulo-timeline h2 {
text-align: center;
margin-top: 2rem;
font-size: 2.5rem;
}

/* The actual timeline (the vertical ruler) */
.timeline {
position: relative;
max-width: 1200px;
margin: 2rem auto 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: white;
    z-index: -1;
    top: 0;
    left: 49.8%;
    height: 0;

    animation: linhaSubindo 3.5s ease forwards;
}

    /* Container around content */
    .containe {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    
    }

    /* The circles on the timeline */
    .containe::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    }

    /* Place the container to the left */
    .left {
    left: 0;
    animation: deslizetexto1 2s ease-in-out;
    }
    

    /* Place the container to the right */
    .right {
    left: 50%;
    animation: delizetexto2 3s ease-in-out;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
    left: -16px;
    }

    /* The actual content */
    .content {
    padding: 20px 30px;
    background-color: #111827;
    position: relative;
    border-radius: 6px;
    border: 1px solid #1F2937;
    }

    .content img {
    /*width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;*/
    /*max-width: 100%;       /* Responsivo */
    /*    height: auto;          /* Mantém proporção */
    /*    border-radius: 12px;   /* Cantos arredondados */
    /*    border: 3px solid #ccc;/* Borda */
    /*    box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* Sombra */
    /*    transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;*/
            width: 180px;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    }

    /* Efeito ao passar o mouse */
    .content img:hover {
        transform: scale(1.02); /* Zoom suave */
        box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    }
    
    .content a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 999px;
    border: none;
    cursor: pointer;

    background: linear-gradient(90deg, #6366F1, #8B5CF6);
    color: #FFFFFF;

    font-weight: 500;
    font-family: 'Poppins', sans-serif;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    transition: all 0.3s ease;

    box-shadow: 0 8px 20px rgba(99,102,241,0.3);
}

.content a:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 0 20px rgba(99,102,241,0.6);
}

.content a:active {
    transform: scale(0.97);
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

    .containe left {
    animation: deslizetexto1 1s ease-in-out;
    }

    @keyframes deslizetexto1 { /*deslize do lado esquerdo para o direito */
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
    }

    .element {
    animation-name: deslizetexto1;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-fill-mode: forwards;
    }

    @keyframes delizetexto2 { /*deslize do lado direito para o esquerdo */
    0% { transform: translateX(100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
    }


    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .containe::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
    }


    .containe {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    animation: aparecerCard 0.8s ease forwards;
}

/* Cada card entra com um pequeno atraso */
.containe:nth-child(1) {
    animation-delay: 0.2s;
}

.containe:nth-child(2) {
    animation-delay: 0.6s;
}

.containe:nth-child(3) {
    animation-delay: 1s;
}

.containe:nth-child(4) {
    animation-delay: 1.4s;
}

.containe:nth-child(5) {
    animation-delay: 1.8s;
}

.containe:nth-child(6) {
    animation-delay: 2.2s;
}

/* Animação */
@keyframes aparecerCard {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes linhaSubindo {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}



/* ===== INDEX RESPONSIVO ===== */
@media (max-width: 768px) {

    /* MENU */
    .nav {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        text-align: center;
    }

    .menu li {
        width: 100%;
    }

    .menu a {
        display: block;
        width: 100%;
    }

    /* BANNER */
    .banner-content {
        padding: 1rem;
    }

    .banner-content h2 {
        font-size: 1.5rem;
    }

    .banner-content p {
        font-size: 0.95rem;
    }

    /* FOOTER */
    #footer_content {
        grid-template-columns: 1fr;
        padding: 2rem 1rem;
        text-align: center;
    }

    #footer-padrao {
        margin-left: 0;
    }

    #footer_social_media {
        justify-content: center;
    }
}