    @import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');
    
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Lora:ital,wght@0,400;0,500;1,400&family=Montserrat:wght@500;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

:root {
    /* Paleta de Cores Terrosa (Atemporal) */
    --color-primary-dark: #5C3B2E; /* Marrom Profundo para Títulos e elementos de destaque e ícones principais */
    --color-secondary:#422b21;
    --color-accent-olive: #4C4A2A; /* Verde-oliva escuro (Sofisticado) para detalhes e ícones secundarios */
    --color-neutral-tan: #C1B59F; /* Bege claro */
    --color-bg-warm: #E6E2DB; /* Off-white para Fundo principal */
    --color-ui-charcoal: #303136; /* Grafite para textos e elementos de contraste */


    /* Definindo as Fontes nas variáveis de ambiente */
    --font-playfair: 'Playfair Display', serif; /* Fonte para títulos */
    --font-ui: 'Montserrat', sans-serif; /* Fonte para elementos de interface, sub-títulos e legendas */
    --font-body: 'Lora', serif; /* Fonte para o corpo do texto */
    --font-data: 'Inter', sans-serif; /* Fonte para dados e informações */

    /* 'Pesos' das fontes */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Escala de tamanhos baseada no Root (1 rem = 16px) */
    --fs-h1: 3rem; /* Tamanho para títulos principais (40px) */
    --fs-h2: 2rem; /* Tamanho para títulos secundários (32px) */
    --fs-h3: 1.5rem; /* Tamanho para títulos terciários (24px) */
    --fs-body: 1.125rem; /* Tamanho para o corpo do texto (18px) */
    --fs-small: 0.875rem; /* Tamanho para dados e informações (14px) */

    /* Espaçamento de linhas para maior conforto */
    --lh-body: 1.6; /* Espaçamento para o corpo do texto */
}
/*  ================================================================================================================
        Definindo as variáveis aplicáveis para todas as páginas do site, como cores, fontes, tamanhos e espaçamento.
    ================================================================================================================  */


/* Aplicando as Variáveis padrão no corpo da página */
body{
    display: grid; /* Adicionado um Grid automático para preencher todo o conteúdo da tela sem "sobras" */
    grid-template-rows: auto 1fr auto; /* Header, Conteúdo, Footer */
    min-height: 100vh;
    background-color: var(--color-bg-warm);
    color: var(--color-ui-charcoal);
    font-family: var(--font-body);
    line-height: var(--lh-body);
    --webkit-font-smoothing: antialiased; /* Suavização de fontes para melhor legibilidade */
    height: 100%;
}

h1{
    font-family: var(--font-playfair);
    color: var(--color-primary-dark);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    margin-bottom: 1.5rem; /* Espaçamento abaixo do título */
}

h2{
    font-family: var(--font-ui);
    color: var(--color-accent-olive);
    font-weight: var(--fw-medium);
    font-size: var(--fs-h2);
    letter-spacing: .1rem; /* Espaçamento entre letras para melhor legibilidade */
    text-transform: capitalize; /* Transformando os sub-títulos para primeira letra maiúscula */
    margin-bottom: 1rem; /* Espaçamento abaixo dos sub-títulos */
}

h3{
    font-family: var(--font-ui);
    color: var(--color-accent-olive);
    font-weight: var(--fw-medium);
    font-size: var(--fs-h3);
    letter-spacing: .1rem; /* Espaçamento entre letras para melhor legibilidade */
    text-transform: capitalize; /* Transformando os sub-títulos para primeira letra maiúscula */
    margin-bottom: 1rem; /* Espaçamento abaixo dos sub-títulos */
}



    /* Classe LOGO (onde está escrito o nome ParaBook) */
.logo{
    margin: 2vh 2vw;
}

/*  =============================================
        Seção do NAV (NAVEGAÇÃO e suas Classes)
    =============================================  */

.nav{ /* Menu de navegação */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: linear-gradient(to bottom, var(--color-neutral-tan) 0%, var(--color-bg-warm) 100%);
}

.menu { /* itens do menu de navegação */
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.menu a{
    color: var(--color-primary-dark);
    font-family: var(--font-ui);
    font-weight: var(--fw-medium);
    text-decoration: none;
}

.login-btn{
    background-color: var(--color-primary-dark);
    color: var(--color-bg-warm);
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    font-family: var(--font-ui);
    font-weight: var(--fw-medium);
    transition: background-color .3s, color .3s;
    cursor: pointer;
}

.login-btn:hover{
    background-color: var(--color-bg-warm);
    color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
}


    .grid-container {
    width: min(75rem, 100%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 2rem;
    }
    .card {
    --grad: red, blue;
    padding: 2.5rem;
    background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
    border-radius: 2rem;
    gap: 1.5rem;
    display: grid;
    grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto;
    font-family: system-ui, sans-serif;
    color: #444447;
    box-shadow: 
        inset -2px 2px hsl(0 0 100% / 1),
        -20px 20px 40px hsl(0 0 0 / .25) ;
    
        

    .title {
        font-size: 1.5rem;
        grid-area: title;
        align-self: end;
        text-transform: uppercase;
        font-weight: 500;
        word-break: break-all;
        
    }
    .icon {
        grid-area: icon;
        font-size: 3rem;
        
        > i {
        color: transparent;
        background: linear-gradient(to right, var(--grad));
        background-clip: text;
        }
    }
    .content {
        grid-area: content;
        & > *:first-child { margin-top: 0rem}
        & > *:last-child { margin-bottom: 0rem}
    }
    &::after {
        content: "";
        grid-area: bar;
        height: 2px;
        background-image: linear-gradient(90deg, var(--grad));
    /*     margin-inline: -1.5rem; */
    }
    }

    

footer {
    width: 100%;
    color: var(--color-bg-warm);
}

footer h1 {
    font-family: var(--font-playfair);
    font-size: var(--fs-h2);
    color: var(--color-bg-warm);
    margin: 0 0 1.5rem 0;
}

footer h3 {
    font-family: var(--font-playfair);
    font-size: var(--fs-h3);
    color: var(--color-bg-warm);
    margin: .5rem 0 0 0;
}

footer p {
    font-family: var(--font-ui);
    font-size: var(--fs-small);
    margin: 2.5vh 0vw;
}

/*  ===============================================
    Classes e IDs utilizadas na construção das sub-seções 
    =============================================== */


/* Seção CONTENT Onde ficam as IDs */

#footer_content { /* ID Pai onde ficam organizados os "cards" da grid */
    background-color: var(--color-primary-dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 3rem 3rem;
}

/* Sub-seção "padrão" onde fica o nome da marca */
#footer-padrao {
    margin-left: 2rem;
}

#footer_social_media { /* Essa ID fica onde estão os ícones das redes sociais */
    display: flex;
    gap: 2rem;
    margin-top: .5rem;
}

.footer-link {
    text-decoration: none;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-bg-warm);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.5rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

/* Sub-seção SUPORTE ao Usuário*/

.footer-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: var(--lh-body)
}

.footer-list .footer-link {
    color: var(--color-bg-warm);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: var(--color-neutral-tan);
}

/* Sub-seção FEEDBACK (Entre em contato por email) */

#footer_subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-tan);
    color: var(--color-ui-charcoal);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color:  var(--color-secondary);
    border: none;
    color: var(--color-bg-warm);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}
