<div class="mobile-nav">

    <!-- botão fixo -->
    <button class="mobile-toggle" id="openMenu">
        ☰
    </button>

    <!-- menu -->
    <div class="mobile-menu" id="mobileMenu">
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="acesso-biblioteca.html">Meus Livros</a></li>
            <li><a href="comunidade.html">Comunidades</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="admin.html">Administrador</a></li>
        </ul>
    </div>

    <!-- overlay -->
    <div class="overlay" id="overlay"></div>

</div>